<% if (site.posts.length){ %>
<div class="widget-wrap">

  <div class="widget">
    <h3 class="widget-title">
	<table width="100%" border="0"><td style="text-align:left; " width=75%><b><font color="green" size= 3px>&#x5B66;&#x672F;&#x89C4;&#x8303;</font></b>
	<td style="text-align:right; text-decoration: none; " width=25%><a href="http://phdmeiwp.github.io/%E5%8F%8B%E6%83%85%E9%93%BE%E6%8E%A5/"><font color=green size= 2px>&#x66F4;&#x591A;>> </font></a></table>
	</h3>	
	
	
      <ul>
        
		&#9971;&nbsp;&nbsp;
		<a href="http://www.cast.org.cn/n35081/n35488/16822605.html"><font color=black>《发表学术论文“五不准”》</a>
		&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.moe.gov.cn/srcsite/A02/s5911/moe_621/201607/t20160718_272156.html"><font color=black>《高等学校预防与处理学术不端行为办法》</a>
		&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://publicationethics.org/resources/elearning/%E5%87%BA%E7%89%88%E4%BC%A6%E7%90%86%E4%BB%8B%E7%BB%8D-0"><font color=black>《COPE-国际学术伦理介绍》</a>

		
      </ul>
    </div>
  </div>
<% } %>