<% if (site.posts.length){ %>
<div class="widget-wrap">

  <div class="widget">
    <h3 class="widget-title">
	<table width="100%" border="0"><td style="text-align:left; " width=75%><b><font color="green" size= 3px>&#x671F;&#x520A;&#x6742;&#x5FD7;</font></b>
	<td style="text-align:right; text-decoration: none; " width=25%></table>
	</h3>	
	
	
      <ul>
        

		<a href="www.nature.com"><font color=black>Nature</a> 
		&nbsp;&nbsp;<a href="www.sciencemag.org"><font color=black>Science</a>
		&nbsp;&nbsp;<a href="http://www.pnas.org"><font color=black>PNAS</a> 
		<br>
		<a href="http://www.hjkx.ac.cn/hjkx/ch/index.aspx"><font color=black>环境科学</a>
		&nbsp;&nbsp;<a href="http://manu36.magtech.com.cn/Jweb_zghjkx/CN/volumn/home.shtml"><font color=black>中国环境科学</a>
		<br>
		<a href="http://www.scxuebao.cn/scxuebao/ch/index.aspx"><font color=black>水产学报</a>
		&nbsp;&nbsp;<a href="http://ssswxb.ihb.ac.cn/CN/volumn/current.shtml"><font color=black>水生生物学报</a>
		<br>
		<a href="http://www.ecologica.cn/stxb/ch/index.aspx"><font color=black>生态学报</a>
		&nbsp;&nbsp;<a href="http://phdmeiwp.github.io/%E5%8F%8B%E6%83%85%E9%93%BE%E6%8E%A5/"><font color=black>更多>></a>		
		
		

		
      </ul>
    </div>
  </div>
<% } %>