

<div class="widget-wrap">

<div class="widget">
	<h3 class="widget-title"><font color=red>公告栏</font></h3>

     <div id="myscroll" class="cls_container">
		<ul>
		  <li><span style="color:red"><i class="fa fa-warning"></i>&nbsp;&#127968;&nbsp; 欢迎您访问本站</span></li>
		  <li><span style="color:green"><i class="fa fa-warning"></i>&nbsp;&#127760; 电脑端浏览效果更佳</span></li>

		</ul>
	</div>

	<div id="showhint"></div>
</div>

</div>
