<% if (site.posts.length){ %>
<div class="widget-wrap">

  <div class="widget">
    <h3 class="widget-title">
	<table bgcolor="green" width="100%" height="30px" border="0"><td style="text-align:left; " width=75%><b><font color="white"  size= 3px>&#128225;&nbsp;6.Hexo&#x5EFA;&#x7AD9;</font></b>
	<td style="text-align:right; text-decoration: none; " width=25%><a href="http://phdmeiwp.github.io/categories/Hexo/"><font color=white size= 2px>&#x63A8;&#x8350;&#x66F4;&#x591A;>> </font></a></table>
	</h3>	
	
	
      <ul>
             <a href="http://phdmeiwp.github.io/Hexo-%E5%AE%9E%E7%8E%B0%E5%A4%9A%E7%BB%88%E7%AB%AF%E5%90%8C%E6%AD%A5/"><font color=red>Hexo 实现多终端同步</a>
             <br><a href="http://phdmeiwp.github.io/%E8%BF%9B%E9%98%B6%E4%B9%8BHexo%E7%9A%84landscape%E4%B8%BB%E9%A2%98%E7%9A%84README%E6%96%87%E4%BB%B6/" title="进阶之Hexo的landscape主题的README文件"><font color=green>进阶之Hexo的landscape主题...</font></a>
             <br><a href="http://phdmeiwp.github.io/Hexo-test-bilingual/"><font color=black>Hexo test bilingual</font></a>
			 <br><a href="http://phdmeiwp.github.io/Hexo-landscape-%E6%B7%BB%E5%8A%A0%E8%85%BE%E8%AE%AF%E5%85%AC%E7%9B%8A404%E5%B8%AE%E5%8A%A9%E5%AF%BB%E6%89%BE%E5%A4%B1%E8%B8%AA%E5%84%BF%E7%AB%A5%E9%A1%B5%E9%9D%A2/" title="Hexo 添加腾讯公益404帮助寻找失踪儿童页面"><font color=black>Hexo 添加腾讯公益404... </font></a>
			 <br><a href="http://phdmeiwp.github.io/Hexo%EF%BC%9A%E7%BB%99%E5%9B%BE%E6%A0%87%E6%88%96%E5%9B%BE%E7%89%87%E6%B7%BB%E5%8A%A0%E9%93%BE%E6%8E%A5%E7%BD%91%E5%9D%80%E5%92%8C%E6%96%87%E5%AD%97%E8%AF%B4%E6%98%8E/" title="Hexo 给图标或图片添加链接网址和文字说明 "><font color=black>Hexo 给图片添加文字说明... </font></a>
			 <br>
      </ul>
    </div>
  </div>
<% } %>