<% if (site.posts.length){ %>
<div class="widget-wrap">

  <div class="widget">
    <h3 class="widget-title">
	<table bgcolor="green" width="100%" height="30px" border="0"><td style="text-align:left; " width=75%><b><font color="white"  size= 3px>&#128187;&nbsp;10.&#x7535;&#x8111;&#x6280;&#x672F;</font></b>
	<td style="text-align:right; text-decoration: none; " width=25%><a href="http://phdmeiwp.github.io/categories/%E7%94%B5%E8%84%91%E6%8A%80%E6%9C%AF/"><font color=white size= 2px>&#x63A8;&#x8350;&#x66F4;&#x591A;>> </font></a></table>
	</h3>	
	
	
      <ul>
             <a href="http://phdmeiwp.github.io/%E5%A6%82%E4%BD%95%E7%94%A8U%E7%9B%98%E5%AE%89%E8%A3%85Win7%E7%B3%BB%E7%BB%9F/"><font color=black>用U盘安装Win7系统</a>
             <br><a href="http://phdmeiwp.github.io/iPhone-iTunes-iCloud%E4%BD%BF%E7%94%A8%E6%96%B9%E6%B3%95/"><font color=black>iPhone,iTunes,iCloud使用方法</a>
             <br><a href="http://phdmeiwp.github.io/%E5%A6%82%E4%BD%95%E6%9B%B4%E6%94%B9%E7%94%B5%E8%84%91%E7%A3%81%E7%9B%98%E9%A9%B1%E5%8A%A8%E5%99%A8%E5%8F%B7/"><font color=black>如何更改电脑磁盘驱动器号</a>
			 <br><a href="http://phdmeiwp.github.io/%E5%A6%82%E4%BD%95%E8%AE%BE%E7%BD%AE%E4%B8%80%E5%8F%B0%E7%94%B5%E8%84%91%E4%B8%A4%E4%B8%AA%E6%98%BE%E7%A4%BA%E5%99%A8/"><font color=black>设置一台电脑两个显示器</a>
			 <br><a href="http://phdmeiwp.github.io/Win-Mac%E7%94%B5%E8%84%91%E5%B8%B8%E7%94%A8%E5%BF%AB%E6%8D%B7%E9%94%AE-%E7%A7%91%E7%A0%94%E7%89%88/"><font color=black>Win,Mac电脑常用快捷键-科研版</a>
			 <br>
      </ul>
    </div>
  </div>
<% } %>