<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  
	 
 
  <div class="outer">
    
	<div id="footer-info" class="inner" style="text-align:center;">
     
	  
	 
     <!-- 页脚2 --> 
<table width="100%" border="0"> 
	<tr>     
		<td colspan="5" style="text-align:center; border: 0;" width=100%>
	 
		<font color=white>为学为研网(<a href="http://phdmeiwp.github.io">http://meiweiping.cn</a>) </font> <font color=black>，是梅卫平筹建、为科研同行(for researcher)服务的网站，本着“</font><font color=white>Basic Knowledge Worth spreading (BKWs)</font><font color=black>”的宗旨，
	 主要将一些原创的"科研笔记"分享之，与大家共同成长。
	 当然也欢迎大家与我联系、共同讨论，或者把您喜欢的内容推荐到此网站分享之。
	 <br>联系QQ：2638800763  联系邮箱：forresearcher@163.com</font>

		<br><br>
		 
		 <font color=black>
		 &copy; 2017 - <%= date(new Date(), 'YYYY') %> <a href="http://PhDMeiwp.github.io" >meiweiping.cn</a> 版权所有&nbsp;
		 <br><font color=lightgreen>[推荐在<b>"电脑端"</b>浏览效果更佳！]</font>

		 <br><br>
		 
		 </td>
	</tr>
		 
<!--  开始添加 世界时钟 代码 -->	
	<tr>
		<center>
		
		<td colspan="1" style="text-align:center; border: 0;" width=20%>
		<iframe src="http://free.timeanddate.com/clock/i5yhg8fa/n179/szw110/szh110/hocf00/hbw0/hfcc00/cf100/hnca32/fas20/facfff/fdi86/mqcfff/mqs2/mql3/mqw4/mqd70/mhcfff/mhs2/mhl3/mhw4/mhd70/mmv0/hhcfff/hhs2/hmcfff/hms2/hsv0" frameborder="0" width="110" height="110"></iframe>
		<br>美国纽约EDT
		<br><iframe src="http://free.timeanddate.com/clock/i5yhg8fa/n179/fs10/tct/pct/tt0/th1/ts1/ta1/tb4" frameborder="0" width=100% height="40" allowTransparency="true"></iframe>
		</td>

		<td colspan="1" style="text-align:center; border: 0;" width=20%>
		<iframe src="http://free.timeanddate.com/clock/i5yhg8fa/n136/szw110/szh110/hocf00/hbw0/hfcc00/cf100/hnca32/fas20/facfff/fdi86/mqcfff/mqs2/mql3/mqw4/mqd70/mhcfff/mhs2/mhl3/mhw4/mhd70/mmv0/hhcfff/hhs2/hmcfff/hms2/hsv0" frameborder="0" width="110" height="110"></iframe>
		<br>英国伦敦BST/GMT
		<br><iframe src="http://free.timeanddate.com/clock/i5yhg8fa/n136/tluk/fs10/tct/pct/tt0/th1/ts1/ta1/tb4" frameborder="0" width=100% height="40" allowTransparency="true"></iframe>
		</td>

		<td colspan="1" style="text-align:center; border: 0;" width=20%>
		<iframe src="http://free.timeanddate.com/clock/i5yhg8fa/n33/szw110/szh110/hocf00/hbw0/cf100/hncf00/hwcfff/fan2/fas16/fdi60/mqcf09/mqs4/mql2/mqw4/mqd78/mhcf90/mhs4/mhl3/mhw4/mhd78/mmv0/hhc0f0/hhs2/hmc0f0/hms2/hscf0f" frameborder="0" width="110" height="110"></iframe>
		<br><font color=lightgreen>中国北京CST</font>
		<br><iframe src="http://free.timeanddate.com/clock/i5yyq6ri/n33/tlcn8/fs10/fc0f0/tct/pct/tt0/tm1/ta1/tb4" frameborder="0" width=100% height="40" allowTransparency="true"></iframe>
		</td>

		
		<td colspan="1" style="text-align:center; border: 0;" width=20%>
		<iframe src="http://free.timeanddate.com/clock/i5yhg8fa/n235/szw110/szh110/hocf00/hbw0/hfcc00/cf100/hnca32/fas20/facfff/fdi86/mqcfff/mqs2/mql3/mqw4/mqd70/mhcfff/mhs2/mhl3/mhw4/mhd70/mmv0/hhcfff/hhs2/hmcfff/hms2/hsv0" frameborder="0" width="110" height="110"></iframe>
		<br>韩国首尔KST
		<br><iframe src="http://free.timeanddate.com/clock/i5yhg8fa/n235/tlus47/fs10/tct/pct/tt0/tw0/th1/ts1/ta1/tb4" frameborder="0" width=100% height="40" allowTransparency="true"></iframe>
		</td>

		<td colspan="1" style="text-align:center; border: 0;" width=20%>
		<iframe src="http://free.timeanddate.com/clock/i5yhg8fa/n248/szw110/szh110/hocf00/hbw0/hfcc00/cf100/hnca32/fas20/facfff/fdi86/mqcfff/mqs2/mql3/mqw4/mqd70/mhcfff/mhs2/mhl3/mhw4/mhd70/mmv0/hhcfff/hhs2/hmcfff/hms2/hsv0" frameborder="0" width="110" height="110"></iframe>
		<br>日本东京JST
		<br><iframe src="http://free.timeanddate.com/clock/i5yhg8fa/n248/tljp9/fs10/tct/pct/tt0/tw0/tm1/ts1/ta1/tb4" frameborder="0" width=100% height="40" allowTransparency="true"></iframe>
		</td>
		
		</center>
	</tr>
<!--  世界时钟 代码结束 -->	
	 
	<tr>
		<td>
	 
	     <font color=black>
		 
		 <!-- 只添加本站统计脚本，不添加统计图片@footer.ejs -->
		 <a href="http://info.flagcounter.com/UcO3"></a> 
        <a href="https://www.revolvermaps.com/?target=enlarge&amp;i=5wvp5ufpxwv"></a> 
		<span style="display: inline;" id="busuanzi_container_site_uv"></span>
         <span style="display: inline;" id="busuanzi_container_site_pv"></span>
		
		 
		 
		<!-- 不蒜统计 
         <span style="display: inline;" id="busuanzi_container_site_uv">全站uv访客 <span id="busuanzi_value_site_uv" font="微软雅黑" style="color:white"></span> 人&nbsp;|&nbsp;</span>
         <span style="display: inline;" id="busuanzi_container_site_pv">全站pv访问量 <span id="busuanzi_value_site_pv" font="微软雅黑" style="color:white"></span> 次</span>
		-->         
		<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>

 
		<!-- 本站运行天数
		<span id="showDays" class="show-days"></span>
		<script>
         var birthDay=new Date("03/06/2017"),now=new Date,duration=now.getTime()-birthDay.getTime(),total=Math.floor(duration/864e5);document.getElementById("showDays").innerHTML="(本站已稳定运行 "+total+" 天)"
         </script>
		--> 

		<!-- 显示本站访客ip地址及所在位置，但文字排版不太好 -->
		<!-- script type="text/javascript" src="http://ip.chinaz.com/getip.aspx" --></script>

	     </font>
		
		</td>
	  </tr>
	  
</table>
	  
	  
 	</div>
  </div>
</footer>


<!-- GMT+8 time -->
<script>
function startTime()  
{  
var today=new Date()  
var years=today.getFullYear();  
var months=today.getMonth();  
var d=today.getDate()  
today.setMinutes(today.getMinutes() + today.getTimezoneOffset());
today.setHours(today.getHours() + 8);
var h=today.getHours()  
var m=today.getMinutes()  
var s=today.getSeconds()  
// add a zero in front of numbers<10  
months=months+1  
months=checkTime(months)  
d=checkTime(d)  
m=checkTime(m)  
s=checkTime(s)  
var weekday=new Array(7)  
weekday[0]="SUN"  
weekday[1]="MON"  
weekday[2]="TUE"  
weekday[3]="WEN"  
weekday[4]="THU"  
weekday[5]="FRI"  
weekday[6]="SAT"  
var w=weekday[today.getDay()]  
document.getElementById('ShowTime').innerHTML="GMT+8,&nbsp;"+years+"-"+months+"-"+d+"&nbsp;"+w+" "+h+":"+m+":"+s;  
t=setTimeout('startTime()',500)  
}  
function checkTime(i)  
{  
if (i<10)  
{i="0" + i}  
return i  
}  
</script>  


<!--   add QQ online image etc. with "close button" -->

				
				
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml">  
<head>  
  
<style type="text/css">  
  .btnbox{  
  z-index:999;  
  position:fixed;  
  right:0px;  
  top: 270px;  
}  
</style>  
  
<script src="jquery.min.js" type="text/javascript"></script>  
<script type="text/javascript">  
  function show(thisObj)  
  {  
    $(thisObj).children("div").css("display","block");  
  }  
  
  function hide(thisObj)  
  {  
    $(thisObj).children("div").css("display","none");  
  }  
  
  function aa(obj){  
        $(obj).parent().parent().remove();  
  }  
</script>  
  
</head>  
<body>  
    <div id="content">     
       <div  onmouseover="show(this)" onmouseout="hide(this)"   style=" position:fixed; right:0px; top: 285px; ">  
	   
	   
<a href="http://wpa.qq.com/msgrd?v=3&uin=2638800763&site=qq&menu=yes" title="点击图标与我qq交谈"><img border="0" src="https://i.loli.net/2017/11/07/5a0178310370f.png" width=20px height=20px ></a>
  <br>
<a href="http://blog.sciencenet.cn/u/meiweipingg" title="科学网" target="_blank"><img src="http://i4.buimg.com/567571/0044520727e81248.png" width=20px height=20px ></a>   
<br>
<a href="http://www.facebook.com/meiweipingg" title="Facebook" target="_blank"><img src="http://i1.piimg.com/567571/9e2302528fbac519.png" width=20px height=20px ></a> 
<br>
<a href="http://orcid.org/0000-0001-6400-9862" title="ORCiD" target="_blank"><img src="http://i1.piimg.com/567571/a218cba2d269aca5.png" width=20px height=20px ></a>   
<br>
<a href="https://www.researchgate.net/profile/Weiping_Mei" title="ResearchGate" target="_blank"><img src="http://i1.piimg.com/567571/553d0e51933c8e4a.png" width=20px height=20px ></a>   
<br>
<a href="https://github.com/PhDMeiwp" title="Github" target="_blank"><img src="http://i1.piimg.com/567571/eb56cb6e640f5fcd.png" width=20px height=20px ></a>   
  
           
         <div class="btnbox" style="width:10px; height:10px;" >  
          <input type="button" value="×"  onclick="aa(this)"/>  
         </div>  
           
       </div>  
         
    </div>  
</body>  
</html>  