<div class="widget-wrap">

  <ul class="widget google_Ads">
		<!-- 以下是新增的Google广告代码-->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 自适应 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7390437336363898"
     data-ad-slot="9075736497"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	<!-- Google广告代码结束-->
  </ul>
</div>