<div class="widget-wrap">

<div class="widget">
  <h3 class="widget-title"><center><%= __('about me') %></center></h3>
  <ul>
    <li><center><img src="http://i1.piimg.com/567571/108443f9a740d539.png" width=60% height=60% align=center/></center></li>
    <% theme.about_me.texts.forEach(function(item){ %>
    <li><center><%- item %></center></li>
    <% }); %>
	
  <br><center><span title="博客总字数统计">
	     <span><img src="http://i2.muimg.com/567571/76dcad0b3c440c27.png" width=14 px></span>
         <span class="post-count">&nbsp;中文版博客总字数统计：<b><%= totalcount(site) %></b></span>	
  </ul>

</div>

