<% if (site.posts.length){ %>
<div class="widget-wrap">

  <div class="widget">
    <h3 class="widget-title">
	<table width="100%" border="0"><td style="text-align:left; " width=75%><b><font color="green" size= 3px>&#128269;&nbsp;&#x68C0;&#x7D22;&#x7EFF;&#x8272;&#x901A;&#x9053;</font></b>
	<td style="text-align:right; text-decoration: none; " width=25%><a href="http://phdmeiwp.github.io/%E5%88%86%E7%B1%BB%E5%8F%8A%E6%A3%80%E7%B4%A2%EF%BC%9ASCI%EF%BC%8CSSCI%EF%BC%8CEI%EF%BC%9BCSCD%EF%BC%8CCSSCI%EF%BC%8C%E5%8C%97%E5%A4%A7%E6%A0%B8%E5%BF%83/"><font color=green size= 2px>&#x66F4;&#x591A;>> </font></a></table>
	</h3>	
	
      <ul>
        
		
		<a href="https://jcr.incites.thomsonreuters.com/JCRMasterSearchAction.action?pg=SEARCH&searchString=Nature"  title="点击查询结果可以显示该期刊的影响因子，以及属于SCI(E)或SSCI收录"><font color=red> 1.JCR-IF-查询</a>
		&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://journalmetrics.scopus.com" title="此为Soupus数据库推出的新的计算方法的影响因子-CiteScore查询系统"><font color=black> 2.CiteScore-IF-查询</a>
		&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.thomsonscientific.com/cgi-bin/jrnlst/jloptions.cgi?PC=D" title="点击查询某英文期刊是否被SCI收录"><font color=red>3.SCI-期刊检索</a>
		&nbsp;&nbsp;&nbsp;&nbsp;<a href="hhttp://ip-science.thomsonreuters.com/cgi-bin/jrnlst/jloptions.cgi?PC=SS" title="点击查询文科类某英文期刊是否被SSCI收录"><font color=black>4.SSCI-期刊检索</a>
		&nbsp;&nbsp;&nbsp;&nbsp;<a href=" http://www.ei-istp.com/Info_14.html" title="点击查询某期刊是否被EI收录"><font color=black>5.EI-期刊检索</a> 
		
		<br>
		
		<a href="http://www.medsci.cn/sci/index.do?action=search"><font color=red> 6.梅斯期刊智能查询</a>
		&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://sciencechina.cn/cscd_source.jsp"><font color=black>7.CSCD-期刊检索</a>
		&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://cssci.nju.edu.cn/"><font color=black>8.CSSCI-期刊检索</a>
		&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.cceu.org.cn/demo/findcoreej.htm"><font color=black>9.北大核心-期刊检索</a>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.cceu.org.cn/demo/findcoreej.htm"><font color=black><b>10.备用</b></a>
				
				<br>
		
		<a href="https://isisn.nsfc.gov.cn"><font color=red> 11.国自然基金官方查询</a>
		&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.medsci.cn/sci/nsfc.do"><font color=black>12.国自然基金梅斯查询</a>
		&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://fund.sciencenet.cn/?id=781"><font color=black>13.国自然基金科学网查询</a>
		
		</ul>
    </div>
  </div>
<% } %>