<% if (site.posts.length){ %>
<div class="widget-wrap">

  <div class="widget">
    <h3 class="widget-title">
	<table width="100%" border="0"><td style="text-align:left; " width=75%><b><font color="green" size= 3px>&#x79D1;&#x7814;&#x673A;&#x6784;</font></b>
	<td style="text-align:right; text-decoration: none; " width=25%></table>
	</h3>	
	
	
      <ul>
        
<!-- bottom_links4 = 科研机构 -->

		<a href="http://www.cas.cn/"><font color=black>中科院</a>
        <br><a href="http://nasonline.org/"><font color=black>美国科学院</a> 
		<br><a href="http://www.jamstec.go.jp/j/"><font color=black>日本JAMSTEC</a> 
        <br><a href=" http://yuumezawa.com/Lab"><font color=black>Marine Biogeochem. Lab.</a>	
		
		<br><a href="http://phdmeiwp.github.io/%E5%8F%8B%E6%83%85%E9%93%BE%E6%8E%A5/">更多链接>></a>		
		
		

		
      </ul>
    </div>
  </div>
<% } %>