<div class="widget-wrap">

<div class="widget">
  <h3 class="widget-title"><center> 本站统计</center></h3>
  <ul>
    <% theme.visitor_counter.texts.forEach(function(item){ %>
    <li><%- item %></li>
    <% }); %>
  </ul>
</div>
