<div class="widget-wrap">

  <ul class="widget google_search">
  
		<!-- 以下是新增的搜索框代码-->
  <script>
  (function() {
    var cx = '007725892432175431664:jvi5thizlhe';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchbox-only></gcse:searchbox-only>
	<!-- 搜索框代码-->
  </ul>
</div>
