<% if (site.posts.length){ %>
<div class="widget-wrap">

  <div class="widget">
    <h3 class="widget-title">
	<table bgcolor="green" width="100%" height="30px" border="0"><td style="text-align:left; " width=75%><b><font color="white" size= 3px>&#9889;&nbsp;4.&#x540C;&#x4F4D;&#x7D20;</font></b>
	<td style="text-align:right; text-decoration: none; " width=25%><a href="http://phdmeiwp.github.io/categories/%E5%90%8C%E4%BD%8D%E7%B4%A0/"><font color=white size= 2px>&#x63A8;&#x8350;&#x66F4;&#x591A;>> </font></a></table>
	</h3>	
	
	
      <ul>
             <a href="http://meiweiping.cn/sair%E6%96%B9%E6%B3%95%E5%8F%8AR%E6%93%8D%E4%BD%9C%E5%85%A5%E9%97%A8%E2%80%94%E2%80%94%E7%A8%B3%E5%AE%9A%E5%90%8C%E4%BD%8D%E7%B4%A0%E4%B9%8B%E9%A3%9F%E7%89%A9%E6%9D%A5%E6%BA%90%E6%AF%94%E4%BE%8B%E5%88%86%E6%9E%90/" title="同位素之sair方法介绍(食物贡献率分析)"><font color=red>同位素之sair方法介绍...</font></a>
             <br><a href="http://meiweiping.cn/SIBER%20(SIAR-package)-in-R%EF%BC%9A%E7%89%A9%E7%A7%8D%E7%94%9F%E6%80%81%E4%BD%8D%E9%87%8D%E5%A4%8D%E5%BA%A6%E8%AE%A1%E7%AE%97/" title="SIBER (SIAR) in R：物种生态位重复度计算"><font color=green>SIBER(SIAR):生态位重复度计算...</font></a>
             <br><a href="http://meiweiping.cn/SIBER%EF%BC%88SIBER-package%EF%BC%89in-R%EF%BC%9A%E5%A4%9A%E7%94%9F%E6%80%81%E7%B3%BB%E7%BB%9F%E9%97%B4%E5%90%8C%E4%BD%8D%E7%B4%A0%E7%94%9F%E6%80%81%E4%BD%8D%E5%B7%AE%E5%BC%82%E6%AF%94%E8%BE%83/" title="SIBER (SIBER) in R:多生态系统间生态位差异比较"><font color=black>SIBER(SIBER):多生态系统间生态位...</font></a>
             <br><a href="http://meiweiping.cn/MixSIAR-in-R%EF%BC%9A%E5%A4%9A%E5%8F%98%E9%87%8F%E5%90%8C%E4%BD%8D%E7%B4%A0%E9%A3%9F%E7%89%A9%E8%B4%A1%E7%8C%AE%E7%8E%87%E6%B7%B7%E5%90%88%E6%A8%A1%E5%9E%8B%E5%BA%94%E7%94%A8/" title="MixSIAR in R:多变量同位素食物贡献率混合模型"><font color=black>MixSIAR:多变量同位素食物贡献率...</a>
             <br><a href="http://meiweiping.cn/%E5%AE%89%E8%A3%85%E8%BF%90%E8%A1%8CSIBER%EF%BC%88in-SIAR%EF%BC%89%E6%97%B6%EF%BC%8C%E5%A6%82%E4%BD%95%E8%A7%A3%E5%86%B3-Error-not-a-matrix/" title="安装SIBER(SIAR)时,如何解决Error:not a matrix"><font color=black>运行SIBER,如何解决not a matrix...</a>
			 <br>
      </ul>
    </div>
  </div>
<% } %>