<% if (site.posts.length){ %>
<div class="widget-wrap">

  <div class="widget">
    <h3 class="widget-title">
	<table bgcolor="green" width="100%" height="30px" border="0"><td style="text-align:left; " width=75%><b><font color=#f00  size= 3px ><b>&#128681;&nbsp;<%= __('recent_posts') %></b></font>
	<td style="text-align:right; text-decoration: none; " width=25%><a href="http://phdmeiwp.github.io/archives/"><font size= 2px color="white" >&#x67E5;&#x770B;&#x5168;&#x90E8;>> </font></a></table>
	</h3>	
	
	
      <ul>
        <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
          <li>
            <a href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
<% } %>