<div class="widget-wrap">

<div class="widget">
  <h3 class="widget-title"> &#x5171;&#x4EAB;&#x56ED;&#x5730;</h3>
  <ul>
    <% theme.sharegarden.texts.forEach(function(item){ %>
    <li><%- item %></li>
    <% }); %>
  </ul>
</div>